body {
  background-color: #fafafa;
}


h1 {
  font-family: 'Indie Flower', cursive;
  font-size: 40px;
  color: #006494;
  text-align: center;
}

h2 {
  color: #003554;
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

p {
  color: #051923;
  text-align: center;
  font-family: 'VT323', monospace;
}

ul {
  text-align: center;
}

#my-photo {
  width: 700px;
  padding: 40px;
  border-radius: 50px;
}

.big-card {
  background: white;
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  width: 800px;
  margin: 0 auto;
}

div {
  padding: 40px;
  border-radius: 4px;
  box-shadow: 0 10px 30px rgba(0,0,0,.1);
  width: 800px;
  margin: 0 auto;
}

.le-wagon-link {
  display: block;
  width: 150px;
  padding: 25px;
  border-radius: 10px;
  background: #006494;
  font-size: 15px;
  margin: 0 auto;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: arial;
}

a.le-wagon-link:hover {
  background: black;
}

 .social-links li {
  display: inline-block;
  width: 40px;
  padding: 10px;
  font-size: 40px;
}

.link-color {
  color: #006494;
}
.link-color:hover {
  color: black;
}

.card-color {
  background: #edf6ffbf;
  margin: 10px auto;
}

