.banner img {
    object-fit: cover;
    object-position: right bottom;
    width: 100vw;
    max-height: 100vh;
  }
  
  .banner h1 {
    margin: 0;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 32px;
    text-shadow: 1px 1px 3px black;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
  }

  .banner p {
    margin: 0;
    color: white;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 3px black;
    font-weight: bold;
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
  }
  
  .btn-contact-home {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 70%;
    left: 15%;
    transform: translate(-50%, -50%);
  }
  
  .btn-contact-home:hover {
    opacity: 1;
  }  