.banner {
  position: relative;
}

.banner img {
    object-fit: cover;
    object-position: right bottom;
    width: 100vw;
    max-height: 100vh;
  }
  .banner .banner-text {
   bottom: 20%;
   position: absolute;
  }
  .banner h1 {
    margin: 0;
    color: white;
    font-family: 'Permanent Marker', cursive;
    font-size: 32px;
    text-shadow: 1px 1px 3px black;
    font-weight: bold;
    padding-bottom: 1em;
  }

  .banner p {
    margin: 0;
    color: white;
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    text-shadow: 1px 1px 3px black;
    font-weight: bold;  
    padding-bottom: 1em;
  }

  .btn-contact-home {
    color: #4A4A4A;
    border: 1px solid #4A4A4A;
    padding: 8px 24px;
    border-radius: 50px;
    font-weight: lighter;
    opacity: 0.6;
    transition: opacity 0.3s ease;
  }
  
  .btn-contact-home:hover {
    opacity: 1;
  }  

  @media (max-width: 800px) and (min-width: 600px) { 
    .banner h1 {
      font-size: 20px;
    }
    .banner p {
      font-size: 15px;
    }
    .btn-contact-home {
      font-size: 20px;
    }
  }

  @media (max-width: 600px) { 
    .banner h1 {
      font-size: 10px;
    }
    .banner p {
      font-size: 10px;
    }
    .btn-contact-home {
    font-size: 10px;
    }
  }