.tabs-underlined {
  display: flex;
  align-items: center;
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
}

.tab-underlined {
  color: black;
  padding: 8px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}