.tabs-underlined {
  display: flex;
  align-items: center;
  position: fixed;
  margin: 0;
  left: 0;
  top: 0;
  width: 100%;
  background-color: white;
  font-family: 'PT Serif', serif;
}

.tab-underlined {
  color: black;
  padding: 14px;
  opacity: .4;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  transition: border 0.2s ease-in-out;
}

.tab-underlined:hover{
  color: black;
  opacity: 1;
  text-decoration: none;
}

.tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}