/* add margin to webpage */
.margin {
  margin: 0 5em;
}

/* add top and bottom margin to sections */
.about {
  margin: 5em 0em 5em;
}

.projects {
  margin: 5em 0em 5em;
}

.contact {
  margin: 5em 0em 5em;
}

/* style header in each section */
.about-title h1 {
  font-family: 'Permanent Marker', cursive;
  color: #131329;
  margin: 2em 0em 2em;
}

.projects-title h1 {
  font-family: 'Permanent Marker', cursive;
  color: #131329;
  margin: 2em 20em 2em 0em;
}

.contact-title h1 {
  font-family: 'Permanent Marker', cursive;
  color: #131329;
  margin: 2em 20em 2em 0em;
}

.contact-container {
  justify-content: center;
}