/* add margin to webpage */
.margin {
  margin: 0 5em;
}

/* add top and bottom margin to sections */
.about {
  margin: 5em 0em 5em;
}

.projects {
  margin: 5em 0em 5em;
}

.contact {
  margin: 5em 0em 5em;
}

/* style header in each section */
.about-title h1 {
  font-family: 'Permanent Marker', cursive;
  color: #131329;
  margin: 2em 0em 2em;
}

.projects-title h1 {
  font-family: 'Permanent Marker', cursive;
  color: #131329;
  margin: 2em 15em 2em 0em;
}

.contact-title h1 {
  font-family: 'Permanent Marker', cursive;
  color: #131329;
  margin: 2em 0em 2em;
}

/* style paragraph in about section */
.about p {
  font-family: 'PT Serif', serif;
  font-size: 1.25rem;
}

/* project cards style */
.project-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: 1em 1em;
}

.project-card > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.project-card h1 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.project-card p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}

/* buttons style */
.btn-contact {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-contact:hover {
  opacity: 1;
}

/* paper plane style */
.contact-title img{
  opacity: 0.2;
}