h1 {
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
  color: #051923;
  text-align: left;
}

h2 {
  color: #003554;
  font-size: 20px;
  font-family: 'Fredericka the Great', cursive;
  text-align: center;
}

/*p {
  color: #051923;
  text-align: center;
  font-family: 'PT Serif', serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}*/

ul {
  text-align: center;
}

.lavalamp-object {
  position: fixed;
  top: 0;
  width: 100%;
}

/*#my-photo {
  width: 100%;
  height: auto;
  background-size: cover;
}*/

.banner {
  background-size: cover;
  background-position: center;
  padding: 40px 0;
}

.banner h1 {
  margin: 0;
  color: #051923;
  font-family: 'Fredericka the Great', cursive;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.avatar-large {
  width: 156px;
}

.left-container, .right-container {
  height: 50vh;
  width: 100%;
}

@media screen and (min-width: 768px)
{
  .left-container, .right-container {
    height: 100vh;
  }
}

.left-container {
  background: red;
}

.right-container {
  background: blue;
}
  
.le-wagon-link {
  display: block;
  width: 150px;
  padding: 25px;
  border-radius: 10px;
  background: #006494;
  font-size: 15px;
  margin: 0 auto;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: arial;
}

a.le-wagon-link:hover {
  background: black;
}

.social-links li {
  display: inline-block;
  width: 40px;
  padding: 10px;
  font-size: 40px;
}

.link-color {
  color: #006494;
}

.link-color:hover {
  color: black;
}

.card-color {
  background: #edf6ffbf;
  margin: 10px auto;
}

