<html>
  {{> head}}

  <body>

    {{> navbar}}

    <div class="card-color"  >
    <h2>Follow me</h2>
    <nav class="social-links">
      <ul>
        <li>
          <a class="link-color" href="https://www.facebook.com/liliana.caetano" target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a class="link-color" href="https://www.linkedin.com/in/liliana-caetano-538608a4/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a class="link-color" href="https://www.instagram.com/lilianacaetano1/?hl=pt" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
    </nav>
    </div>

  {{> footer}}

  </body>
</html>
