<html>

  {{> head}}

  <body>

    {{> navbar}}

  <div id="home" class="banner">
    
    {{> banner}}

  </div>

  <div class="margin">
    <div id="about" class="about row no-gutters">

      {{> about}}

    </div>
  </div>
  <div class="margin">
    <div id="projects" class="projects row no-gutters">
          
      {{> projects}}

    </div>
  </div>
  <div class="margin">
    <div id="contact" class="contact row no-gutters">
        
      {{> contact}}

    </div>
  </div>

    {{> footer}}
    
  </body>
</html>
