<html>

  {{> head}}

  <body>

    {{> navbar}}

  <div class="banner" style="background-image">
    <div class="container">
      <img src="images/cactos.jpg" alt="Liliana's photo" id="my-photo">
      <h1>Hello, I am Liliana!</h1>
      <p>I am here to help you build your projects.</p>
    </div>
  </div>

  <div class="about">
    <h1>About</h1>
    <img class="avatar-large" alt="avatar-large" src="images/DSC_5961.JPG">
    <p>Science graduate starting a career in web development following a 6-month part-time coding bootcamp. Dedicated and driven by challenging, rewarding work. Looking for an opportunity where I can grow my understanding of programming paradigms, design patterns and principles.</p>
  </div>

  <div class="projects">
  <h1>Projects</h1>
   
  </div>

  <div class="contact">
  <h1>Contact</h1>
   
  </div>

    {{> footer}}
    
  </body>
</html>
