<html>
  {{> head}}

  <body>

    {{> navbar}}

    <div class="card-color"  >
    <h2>Web Development</h2>
    <p>I am passionate about <strong>Web Development</strong>.</p>
  </div>

  {{> footer}}

  </body>
</html>
