<div id="about-title" class="about-title">
  <h1>About me</h1>
</div>

  <div class="about-description">
    <p>I'm a <strong>Frontend Developer</strong> based in London. I have a passion for learning new technologies and love to create websites and web applications. I use the latest technologies to create fast, responsive, intuitive and dynamic web applications.</p>
  </div> 

  <div class="cards container">
    <div class="about-cards row">
      <div class="about-card col-4 no-gutters">
        <div style="background-color: #FFD700"><img src="images/js.png"></div>
      </div>
      <div class="about-card col-4 no-gutters">
        <div style="background-color: #FF7F50;"><img src="images/html5.png"></div> 
      </div>
      <div class="about-card col-4 no-gutters">
        <div style="background-color: #00BFFF;"><img src="images/css-3.png"></div>
      </div>
      <div class="about-card col-4 no-gutters">
        <div style="background-color: #663399;"><img src="images/bootstrap.png"></div>
      </div>
      <div class="about-card col-4 no-gutters">
        <div style="background-color: #cc0000;"><img src="images/rails.png"></div>
      </div>
      <div class="about-card col-4 no-gutters">
        <div style="background-color: #4682B4;"><img src="images/postgresql.png"></div> 
      </div>
    </div>
  </div>
</div>  
