<div class="cards container">
  <div class="about-cards row">
    <div class="about-card col-3 no-gutters" style="background-color: #DACAC4;">
      <img src="images/js.png">
    </div>
    <div class="about-card col-3 no-gutters" style="background-color: #F7C9B6;">
      <img src="images/html5.png"> 
    </div>
    <div class="about-card col-3 no-gutters" style="background-color: #DBC39A;">
      <img src="images/css-3.png">
    </div>
    <div class="about-card col-3 no-gutters" style="background-color: #DAE7DD;">
      <img src="images/bootstrap.png">
    </div>
    <div class="about-card col-3 no-gutters" style="background-color: #DBC39A;">
      <img src="images/rails.png">
    </div>
    <div class="about-card col-3 no-gutters" style="background-color: #DAE7DD;">
      <img src="images/postgresql.png"> 
    </div>
    <div class="about-card col-3 no-gutters" style="background-color: #DACAC4;">
      <img src="images/heroku.png">
    </div>
    <div class="about-card col-3 no-gutters" style="background-color: #F7C9B6;">
      <img src="images/figma.png">
    </div>
  </div>
</div>
