<div class="cards container">
  <div class="about-cards row">
    <div class="about-card col-3 no-gutters" style="background-color: #FFD700;">
      <img src="images/js.png">
    </div>
    <div class="about-card col-3 no-gutters" style="background-color: #FF7F50;">
      <img src="images/html5.png"> 
    </div>
    <div class="about-card col-3 no-gutters" style="background-color: #00BFFF;">
      <img src="images/css-3.png">
    </div>
    <div class="about-card col-3 no-gutters" style="background-color: #663399;">
      <img src="images/bootstrap.png">
    </div>
    <div class="about-card col-3 no-gutters" style="background-color: #cc0000;">
      <img src="images/rails.png">
    </div>
    <div class="about-card col-3 no-gutters" style="background-color: #4682B4;">
      <img src="images/postgresql.png"> 
    </div>
  </div>
</div>
