<div class="cards container">
  <div class="row">
    <img class="col-md-3 col-6 no-gutters" src="images/js.png" style="background-color: yellow;">
    <img class="col-md-3 col-6 no-gutters" src="images/html5.png"> 
    <img class="col-md-3 col-6 no-gutters" src="images/css-3.png">
    <img class="col-md-3 col-6 no-gutters" src="images/bootstrap.png">
  </div>
  <div class="row">
    <img class="col-md-3 col-6 no-gutters" src="images/js.png">
    <img class="col-md-3 col-6 no-gutters" src="images/html5.png"> 
    <img class="col-md-3 col-6 no-gutters" src="images/css-3.png">
    <img class="col-md-3 col-6 no-gutters" src="images/bootstrap.png">
  </div>
</div>