<div id="contact-title" class="contact-title">
  <h1>Contact</h1>
</div>
      
<div class="contact-image col-md-6 no-gutters">
  <img width="50%" src="images/paper-plane.png" alt="PaperPlane" id="photo">
</div>

<div class="contact-container col-md-6 no-gutters">
  <p>If you have a project that you want to get started, think you need my help with something, or looking for someone to collaborate on your existing project, then get in touch.</p>
          
  <a class="btn btn-contact" href="mailto:lili.caetano1@gmail.com" target="_blank">Message me</a>
    <div class="links">
    <a class="link-color" href="https://github.com/lilicaetano" target="_blank">
      <i class="fab fa-github"></i>
    </a>
    <a class="link-color" href="https://www.linkedin.com/in/lilicaetano/" target="_blank">
      <i class="fab fa-linkedin"></i>
    </a> 
    </div> 
</div>  