<head>
  <title>Liliana Caetano</title>

  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/navbar.css">
  <link rel="stylesheet" href="styles/footer.css">

  <meta charset="UTF-8">

  <link rel="icon" href="https://papermilkdesign.com/images250_/circle-clipart-letter-4.png">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
</head>