<head>
  <title>Liliana Caetano</title>
  <link rel="stylesheet" href="styles/normalize.css">
  
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Sriracha|Zhi+Mang+Xing&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/style.css">
  <link rel="stylesheet" href="styles/navbar.css">
  <link rel="stylesheet" href="styles/banner.css">
  <link rel="stylesheet" href="styles/cards.css">
  <link rel="stylesheet" href="styles/footer.css">

  <meta charset="UTF-8">
  <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width">

  <link rel="icon" href="https://papermilkdesign.com/images250_/circle-clipart-letter-4.png">
</head>