<nav class="fixed-top navbar">
  <ul class="list-inline tabs-underlined">
    <a class="tab-underlined {{#homeView}}active{{/homeView}}" href="index.html" title="Home" role="tab">Home</a>
    
    <a class="tab-underlined {{#aboutView}}active{{/aboutView}}" href="about.html" title="About" role="tab">About</a>
   
    <a class="tab-underlined {{#projectsView}}active{{/projectsView}}" href="projects.html" title="Projects" role="tab">Projects</a>
  
    <a class="tab-underlined {{#contactView}}active{{/contactView}}" href="contact.html" title="Contact" role="tab">Contact</a>
  </ul>
</nav>