<nav class="fixed-top navbar">
  <ul class="list-inline tabs-underlined">
    <a class="tab-underlined {{#homeView}}active{{/homeView}}" href="#home" title="Home" role="tab">Home</a>
    
    <a class="tab-underlined {{#aboutView}}active{{/aboutView}}" href="#about" title="About" role="tab">About</a>
   
    <a class="tab-underlined {{#projectsView}}active{{/projectsView}}" href="#projects" title="Projects" role="tab">Projects</a>
  
    <a class="tab-underlined {{#contactView}}active{{/contactView}}" href="#contact" title="Contact" role="tab">Contact</a>
  </ul>
</nav>