<div id="projects-title" class="projects-title">
  <h1>Projects</h1>
</div>

<div class="project-card col-md-5 no-gutters">
  <a href="https://crash-pad-le-wagon.herokuapp.com/" target="_blank">
    <img width="100%" src="images/CrashPad.jpg" alt="CrashPad" id="photo">
    <div class="project-card-info">
      <h1>Crash-Pad</h1>
      <p>Website that allows you to book a room or property anywhere in the world.</p>
    </div>
  </a>
</div>  
<div class="project-card col-md-5 no-gutters">
  <a href="https://www.mango-app.com/" target="_blank">
    <img width="100%" src="images/Mango.jpg" alt="Mango" id="photo">
    <div class="project-card-info">
      <h1>Mango</h1>
      <p>Never eat alone! Problem solved always have a companion to eat with when out.</p>
    </div>
  </a>
</div>